<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>hTools3/dialogs/preferences.py</string>
			<key>preferredName</key>
			<string>settings</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>dev-docs.py</string>
			<key>preferredName</key>
			<string>dev docs</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Gustavo Ferreira</string>
	<key>developerURL</key>
	<string>http://hipertipo.com/</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<true/>
	<key>mainScript</key>
	<string>start.py</string>
	<key>name</key>
	<string>hTools3</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>2</string>
	<key>timeStamp</key>
	<real>1583515666.930943</real>
	<key>uninstallScript</key>
	<string></string>
	<key>version</key>
	<string>0.4.2</string>
</dict>
</plist>
