---
sitemap: false
excludeSearch: true
excludeNavigation: true
---

$menuHeight: 2em
$menuWidth: 12em
$menuColor: #CCC

body
  font-family: sans-serif
  padding: 0
  margin: 0

header

  margin: 0
  
  nav
    width: 100%
    padding: 0 1em
    background-color: $menuColor

    ul
      padding: 0
      margin: 0
      list-style: none
      position: relative

      li
        display: inline-block
        background-color: $menuColor

    a
      display: block
      padding: 0 1em
      color: #333
      line-height: $menuHeight
      text-decoration: none

      &:hover
        background-color: rgba(0, 0, 0, 0.4)
        color: white

    ul
      ul
        display: none
        position: absolute
        top: $menuHeight

      li:hover > ul
        display: inherit

      ul
        li
          text-transform: lowercase
          width: $menuWidth
          float: none
          display: list-item
          position: relative

        ul li
          position: relative
          top: -$menuHeight
          left: $menuWidth

        li > a
          &:after
            color: #666
            font-size: 0.5em
            float: right
            content: ' ▶'
          &:only-child:after
            content: ''

main 
  padding: 0
  margin: 2em

  .container
    display: flex
    
  .screenshot
    width: 25%
    
  .captions
    width: 75%
